@media screen and (max-width:750px){
    .column-1{
        width:100%;
        height:100%;
    }
}
@media screen and (max-width:750px){
    .col-02{
          display:none;
    }
}
@media screen and (max-width:750px){
    .col-01{
            width:100%
    }
}
@media screen and (max-width:750px){
    .column-2,
    .column-3{
        flex-direction :column-reverse;
        width:100%;
        height: 100%;
        overflow-x: hidden;

    }
}
@media screen and (max-width:750px){
    .container{
         overflow-x: hidden;
      
    }
}
@media screen and (max-width:750px){
    .home-section{
          width:100%;
          height:100%;
          align-items: left;
         overflow-x: hidden;

    }
}
@media screen and (max-width:750px){
    #welcome{
        // overflow-x: hidden;
        font-size:40px;
        height:800px;
        width:80%;
       align-items: center;
        }
}
@media screen and (max-width:750px){

    .col-2{
        height:100%;
        width:50%;
    }
}
@media screen and (max-width:750px){

    .ans1{
          width:50%;

    }
}
@media screen and (max-width:750px){

    .ans2{
          width:80%;

    }
}

@media screen and (max-width:750px){
    .col-1,
    .col-2{
        width:90%;
    }
}
@media screen and (max-width:750px){
   #aboutI1{
       height:300px;
       width:300px;
   }      
    
}

@media screen and (max-width:750px){
   #primary,
   #secondary{
       font-size:20px;
       width:100%;
       text-align: left;
   }
}
@media screen and (max-width:750px){
    #seondary{
        text-align: left;
        font-size: 15px;
    }
 }
@media screen and (max-width:750px){
    .Q1
      {
        font-size: 15px;  
        // width:100%;
    }
 }
 @media screen and (max-width:750px){
    .Q2
      {
        font-size: 13px;
        text-align:center;  
        width:100%;
        // align-items: right;
    }
 }