*{
    margin:0;
    padding:0;


}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    background:rgba(0, 0, 0, 0.925);

    width:100vw;
    overflow-x: hidden;
    // display:flex;
    justify-content: center;
    align-items: center;
 
    

    flex-direction: column;

    
}
::-webkit-scrollbar {
    width: 5px;
   

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 

  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173); 
  }

// colors to be used 
$primary-color: #179ae5;


.primary-btn{

    font-size: 18px;;
    text-align: center;
    height:40px;
    width:150px;
    background-color:#197ae5;
    border:none;
    color:white;
    border-radius: 5px;;
    cursor:pointer;
    position: relative;
    transition: all 50ms linear;
    z-index:2;
    border-bottom: 5px solid #579fec;
    margin:15px;

    
    &:active{

        transform:scale(0.9);
        transition: all 50ms linear;
        z-index: 1;

    }
    



}


.secondary-btn{

    font-size: 18px;;
    text-align: center;
    height:40px;
    width:150px;
    background-color:#2db33c;
    border:none;
    color:white;
    border-radius: 5px;;
    cursor:pointer;
    position: relative;
   
    z-index:2;
    border-bottom: 5px solid #7FE08A;
    margin:15px;

    
    &:active{

        transform:scale(0.9);
        transition: all 50ms linear;
        z-index: 1;

      

    }


}
.teritiary-btn{

    font-size: 18px;;
    text-align: center;
    height:40px;
    width:150px;
    background-color:#F3AF0E;
    border:none;
    color:white;
    border-radius: 5px;;
    cursor:pointer;
    position: relative;
    transition: all 50ms linear;
    z-index:2;
    border-bottom: 5px solid #F7C859;
    margin:15px;

    
    &:active{

        transform:scale(0.9);
        transition: all 50ms linear;
        z-index: 1;
        

    }


}





    
    svg{

        height:100px;
        width:100px;
        overflow: visible;
        z-index: 1099;
        
        margin:10px;;
        // left:47.5%;
        // top:34.5%;
        cursor: pointer;
        transform: scale(0.8);
      
     

        


    }
    
   
    .loader-container{

        height:100vh;
        width:100vw;
        display:flex;
        justify-content:center;
        align-items: center;
        background: #141414;
        position:absolute;
        z-index:1000;
        top:0;
        left:0;

        .loader-elements{

            display:flex;
            justify-content:center;
            align-items: center;
            min-height:auto;
            width:30vw;
            flex-direction: column;
           
            margin-top:50px;



            .actual-loader{

                height:5px;
                margin:20px;
                width:50%;
                background: #33cc45;
                border-radius: 10px;;
                .loader-bar{
                    
                    height:5px ;
                    // width:16%;
                    background: #197ae5;
                    border-radius: 10px;;


                }
            }
            .loader-puns{

                width:auto;
                padding:10px;
                min-height:50px;
                background: rgba(0, 0, 0, 0);
                display:flex;justify-content:center;
                align-items:center;
                text-align: center;
                color:rgba(255, 255, 255, 0.534);
                border-radius: 10px;
                font-size:20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-style: italic;
            }
            


        }
    }
    #welcome{
        align-items: center;
        color:#fff;
        font-size :40px;
        display:flex;
        // position: absolute;top: 200px;left:10px;
        font-family: 'IBM Plex Mono', monospace;
        height:500px;
        width:100%;
        justify-content: center;
    }
    .home-section{

        height:300vh;
        width:97vw;
        background: #fff;
        position:relative;
        place-items: center;
        transform:scale(0.9);
        margin:auto;
        box-shadow: 0px 0px 100px 5px  rgba(0, 0, 0, 0.158);
        border-radius:'20px';
        padding:20px;

    }

    .home-section{

        height:300vh;
        width:97vw;
        background: #fff;
        transform:scale(0.9);
        border-radius: 20px;;
        position: relative;
        margin:auto;
        justify-content: center;
        align-items: center;
        
        
    }
 
    #homesec{
        // background-color: #000;
        background-image: radial-gradient(ellipse at right center, #197AE5 50%, black );
        position: center;

    }
    

    #homeI{
        position:absolute;top:100px; left:200px;
    }

   


// contact page styles ! 

.form-container{

        height:100vh;
        width:90vw;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        

        .funky-form{

            min-height:40%;
            width:40%;
            // border:1px solid #fff;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           .form-heading{

            width:70%;

            h1{
                color:white;
                text-align: left;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                span{

                    color: #ffffff8c;
                    font-size: 24px;;
                    margin:10px;
                }

            }
           }
            #title-content{
                background: rgba(255, 255, 255, 0.1);
                border-radius: 5px;;
                margin:10px;
                height:50px;
                width:70%;
                outline:none;
                border:1px solid #fff;
                font-size:20px;
                color:white;

                padding:10px;
                &:focus{
 
                   border:1px solid  #F3AF0E;

                }
                &:placeholder-shown{
                    text-emphasis-style: italic;
                }
            }
            #text-content{

                width:70%;
                height:70%;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 5px;;
                margin:10px;
                outline:none;
                border:1px solid #fff;
                font-size:20px;
                color:white;
                padding:10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                &:focus{

                    border: 1px solid #179ae5;

                }
                

            }
            
    


        }
        .message{

            color:rgb(255, 255, 255);
            font-size: 23px;;
            font-weight: bolder;
            background-color: #ce9613;
            font-size: 21px;;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 5px;
            height:50px;
            width:250px;
            position:absolute;
            left:70px;
            
            text-align: center;
            display:none;
            justify-content:center;
            align-items:center;
            
        }
        .contact-socials{

            height:50%;
            width:40%;
            border:1px solid #fff;
            color:white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }



}

.apply-form-container{


    height:100vh;
    width:90vw;
    display:flex;
    justify-content:center;
    align-items:center;
   

    .apply-form{

        min-height:auto;
        width:40%;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        // border:1px solid #fff;
        margin-top:5vh;
        border-radius:10px;
        background-color:rgba(255, 255, 255, 00.05);
        .ap-heading{

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:white;
            margin:20px;
            
        }

        .ap-input{

                background: rgba(255, 255, 255, 0.1);
                border-radius: 5px;;
                margin:5px;
                height:50px;
                width:70%;
                outline:none;
                border:1px solid #fff;
                font-size:20px;
                color:white;
                transform: scale(0.8);
                padding:10px;
                &:focus{
 
                   border:1px solid  #F3AF0E;

                }
                &:placeholder-shown{
                    text-emphasis-style: italic;
                }


        }
        .semester{

            height:70px;
            width:72%;
            outline:none;
            border:1px solid #fff;
            font-size:20px;
            border-radius: 5px;;
            margin-top:-10px;
            background: rgba(255, 255, 255, 0.1);
            color:white;
            padding:10px;
            transform: scale(0.8);


           
        }
        .ap-option{
            background: rgb(71, 71, 71);
            border-radius: 5px;;  
            height:50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width:80%;
            outline:none;
            border:1px solid #fff;
            font-size:20px;
            color:white;
            margin:5px;
            padding:20px;

            &:focus{

               border:1px solid  #F3AF0E;

            }
            


        }
        .ap-textarea{

            height:150px;
            transform: scale(0.8);
        }
        .ap-textarea-bio{

            height:120px;
        }
        
        .ap-btn{

            font-size: 18px;;
            text-align: center;
            height:40px;
            width:150px;
            background-color:#2db33c;
            border:none;
            color:white;
            border-radius: 5px;;
            cursor:pointer;
            position: relative;
            transform:scale(1.2);
            z-index:2;
            border-bottom: 5px solid #7FE08A;
            margin:5px;
            margin-bottom:20px;

            
            &:active{

                transform:scale(1);
                transition: all 50ms linear;
                z-index: 1;

            

            }
        }

    }


}


.responses-container{

    height:auto;
    width:90vw;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;



    .title-parent{

        min-width:300px;
        min-height:150px;
        transition:all 0.4s ease-in-out;
        background: #2a2a2a;
        margin:10px;
        border-radius: 10px;;
        padding:10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        .contact-title{

        color:#fff;
        
        p{
            font-size:14px;
        }
        
    }

    }



}

.team-response-container{

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    width:90vw;
    flex-wrap: wrap;

    .team-member{


        min-height:200px;
        width:300px;
        // border:1px solid #fff;
        border-radius: 10px;;
        background: rgb(24, 24, 24);
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
        position:relative;
        margin:15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &::before{

            content: " ";
            height:50px;
            width:50px;
            background: #000;
            position: absolute;
            top: 0;
            left:0;
            border-bottom-right-radius:10px;

        }
        &::after{

            content: '';
            height:50px;
            width:50px;
            background: #000;
            position: absolute;
            bottom: 0;
            right:0;
            border-top-left-radius:10px;
            
          


        }

        
        .semnbio{


            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            width:100%;
            .member-name{

            
                font-size:30px;
                color:white;
                width:90%;
                margin-top:20px;
    
            }
    
            .semester{
    
                color:white;
                font-size:20px;;
                font-weight: 100;
                margin-bottom:20px;
                
    
            }




           
            
        }

        .bio{
    
            color:rgba(255, 255, 255, 0.595);text-align:center;
            width:90%;
            font-size:15px;
            text-align: center;
            font-style:italic;


        }
        .gh-link{

            color:white;
            font-size:100%;
            height:100%;
            padding-right:40px;
            padding-left:40px;
            text-align: center;
            width:100%;

            i{

                font-size:25px;

            }
        }



        

    }
}

.Q1{
    width:300px;
    height:40px;
    margin:10px;
    color:white;
    font-family: 'IBM Plex Mono', monospace;
    
}
.ans1{
    position:absolute;
    color:white;
     left:30px;
    border-top:5px solid white;
    width:600px;
    height:20px;
}
.Q2{ 
    width:980px;
    height:40px;
    color:white;
    font-family: 'IBM Plex Mono', monospace;
    text-align:right;
}

.ans2{
    color:white; 
    position:absolute;
    left:710px;
    border-top:5px solid white;
    width:730px;
    height:5px;
    margin:5px;
    border-width: 5px;    
}

#primary{
    color:white;
    text-align:left;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    width: 100%;
    padding:10px;
    justify-content: center;

}

#secondary{
    color:white;
    text-align: right;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    width: 970px;
    margin:10px;
    height:100%;


   }

  .container {
      margin:0 auto;
  } 
 
 .column-1{
     display:flex;
     height:50%;
 }
 .column-2{
    display:flex; 
    height:25%;
}
.column-3{
    display:flex;
    height:25%;
}
.col-01{
    width:40%;
}
.col-02{
    width:60%;
     
}

.col-1{
    width:70%;
}
#aboutI1{
    width:400px;
    height:400px;
}
#aboutI2{
    width:400px;
    height:300px;
}
.col-2{
    justify-content:center;
    align-items:center;
    width:30%;
}

.swiper-container {
        
    width: 60%;
    height: 300px;
  

           
    .swiper-slide{
        background: #ce9613;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 26px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: oblique;
        font-size: 20px;
        justify-content: center;
        
        
        
        .text{
            position: absolute;
            color: white;
            padding: 10%;
            text-align: center;
            justify-content: center;
        }
        
    }

    

    
 }

 .swiper-slide:nth-child(odd){

    background: #33cc45;
    
 }

.heading{

display: block;
position: absolute;
top: 100px;
font-size: 2em;
}


.footer{
    display: flex;
    margin: auto;
    width: 95%;
    height: 350px;
    background-color:rgba(255,255,255,0.2);
    border-radius: 26px;
    align-items: center;
    margin-bottom: 10px;

}

.footer-logo{

    width: 140px;
    height: 130px;
    margin-left: 5%;

}
.line{

    width: 3px;
    height: 154px;
    background: #fff;
    margin-left: 5%;
    border-radius: 50px;


}

.socials{

    margin-left: 5%;
    color: #fff;

    .socialsHeading{

        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    
    
    // h2{
    //     font-size: 35px;
    //     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    // }
    li{
        font-size: 20px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    ul{
        margin-top: 5%;
        margin-left: 15%;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    
    

    
}

.quick-links{

    margin-left: 5%; 
    color: #fff;
  

    // h2{
    //     font-size: 35px;
    //     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    // }

    .QuickLinksHeading{

        font-size: 100px;
    }

    
    li{
        font-size: 20px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    ul{
        margin-top: 5%;
        margin-left: 30%;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    
    

    
}

.join{

    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;
    flex-direction: column;
    h2{
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        
    }

    
}

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
  }
  
